﻿
@{
    ViewData["Title"] = "GridPage";
    Layout = null;
}

<h1>GridPage</h1>

<!DOCTYPE html>
<title>DevExtreme Demo</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.1.3/css/dx.common.css" />
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.1.3/css/dx.light.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
<script>window.angular || document.write(decodeURIComponent('%3Cscript src="js/angular.min.js"%3E%3C\/script%3E'))</script>
<script src="https://cdn3.devexpress.com/jslib/20.1.3/js/dx.all.js"></script>

<style>
    #grid {
        height: 440px;
    }

    .options {
        padding: 20px;
        margin-top: 20px;
        background-color: rgba(191, 191, 191, 0.15);
    }

    .caption {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 18px;
    }

    .option {
        margin-bottom: 10px;
    }

        .option > span {
            position: relative;
            top: 2px;
            margin-right: 10px;
        }

        .option > .dx-widget {
            display: inline-block;
            vertical-align: middle;
        }

    #requests .caption {
        float: left;
        padding-top: 7px;
    }

    #requests > div {
        padding-bottom: 5px;
    }

        #requests > div:after {
            content: "";
            display: table;
            clear: both;
        }

    #requests #clear {
        float: right;
    }

    #requests ul {
        list-style: none;
        max-height: 100px;
        overflow: auto;
        margin: 0;
    }

        #requests ul li {
            padding: 7px 0;
            border-bottom: 1px solid #dddddd;
        }

            #requests ul li:last-child {
                border-bottom: none;
            }
</style>

<script>
    var DemoApp = angular.module('DemoApp', ['dx']);
    var gender = [{ "ID": 1, "Name": "Male" }, { "ID": 2, "Name": "Female" }];
    var apiUrl = '/Home';
    DemoApp.controller('DemoController', function DemoController($scope) {

        var ordersStore = new DevExpress.data.CustomStore({
            key: "id",
            load: function () {
                return sendRequest(apiUrl + "/GetData");
            },
            insert: function (values) {
              return  sendRequest("/Home/Add", "POST", {
                    values: values
                });
            },
            update: function (key, values) {
                return sendRequest(apiUrl + "/Edit", "PUT", {
                    key: key,
                    values: values
                });
            },
            remove: function (key) {
                return sendRequest(apiUrl + "/Delete", "DELETE", {
                    id: key
                });
            }
        });

        $scope.refreshMode = "reshape";
        $scope.requests = [];
        $scope.gridOptions = {
            bindingOptions: {
                "editing.refreshMode": "refreshMode"
            },
            //selection: {
            //mode: "multiple"
            //},
            paging: {
                pageSize: 10
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [10,25, 50, 100]
            },
            dataSource: ordersStore,
            repaintChangesOnly: true,
            allowColumnReordering: true,
            filterRow: {
                visible: true,
                applyFilter: "auto"
            }, grouping: {
                contextMenuEnabled: true
            },
            groupPanel: {
                visible: true   // or "auto"
            },
            //groupPanel: {
            //    visible: true
            //},
            columnChooser: {
                enabled: true//,
               // allowSearch: true
            },
            allowColumnResizing: true,
            showBorders: true,
            editing: {
                mode: "cell",
                allowAdding: true,
                allowUpdating: true,
                allowDeleting: true
            },
            scrolling: {
                mode: "virtual"
            },

            columns: [
                {
                    dataField: "email",
                    caption: "Email",
                    validationRules: [{ type: "required" }, { type: "email" }]
                }, {
                    dataField: "name",
                    caption: "Name",
                    dataType: "text",
                    validationRules: [{ type: "required" }]
                }, {
                    dataField: "phoneNumber",
                    caption: "PhoneNumber",
                    dataType: "number",
                    validationRules: [{ type: "required" }]
                }, {
                    dataField: "address",
                    caption: "Address",
                    dataType: "text"
                    //validationRules: [{ type: "required" }]
                }, {
                    dataField: "creationTime",
                    caption: "date",
                    dataType: "date"
                   // validationRules: [{ type: "required" }]
                }, {
                    dataField: "genderId",
                    caption: "Gender",
                    dataType: "number",
                    //validationRules: [{ type: "required" }],
                    width: 125,
                    lookup: {
                        dataSource: gender,
                        displayExpr: "Name",
                        valueExpr: "ID"
                    },
                },{
                    dataField: "isActive",
                    caption: "Is Active",
                    dataType: "boolean"
                }
            ],
            summary: {
                totalItems: [{
                    column: "id",
                    summaryType: "count"
                }]
            }
        };


        $scope.selectBoxOptions = {
            bindingOptions: {
                value: "refreshMode"
            },
            items: ["full", "reshape", "repaint"]
        };



        $scope.buttonOptions = {
            text: "Clear",
            onClick: function () {
                $scope.requests = [];
            }
        };

        //var columnChooserModes = [{
        //    key: "dragAndDrop",
        //    name: "Drag and drop"
        //}, {
        //    key: "select",
        //    name: "Select"
        //}];

        //$("#columnChooserMode").dxSelectBox({
        //    items: columnChooserModes,
        //    value: columnChooserModes[0].key,
        //    valueExpr: "key",
        //    displayExpr: "name",
        //    onValueChanged: function (data) {
        //        treeList.option("columnChooser.mode", data.value);
        //    }
        //});
        function sendRequest(url, method, data) {
            debugger
            var d = $.Deferred();
            method = method || "GET";
            if (method === "GET") {
                $.ajax({
                    url: url,
                    method: method || "GET",
                    data: data,
                    cache: false,
                    xhrFields: { withCredentials: true }
                }).done(function (result) {
                    var data = result.result;
                    d.resolve(method === "GET" ? data : result);
                }).fail(function (xhr) {
                    d.reject(xhr.responseJSON ? xhr.responseJSON.Message : xhr.statusText);
                });
                return d.promise();
            }
            else if (method === "POST") {
                $.ajax({
                    url: url,
                    type: "GET",
                    data: { "posteddata": JSON.stringify(data.values) },
                    cache: false,
                    xhrFields: { withCredentials: true }
                }).done(function (result) {
                    console.log(result)
                    
                    d.resolve(result);
                    
                  // sendRequest(apiUrl + "/GetData");
                    window.location.reload(true);
                }).fail(function (xhr) {
                    d.reject(xhr.responseJSON ? xhr.responseJSON.Message : xhr.statusText);
                });
                return d.promise();
            }
            else if (method === "PUT") {
                data.values.id = data.key;
                $.ajax({
                    url: url,
                    type: "GET",
                    data: data.values,
                    cache: false,
                    xhrFields: { withCredentials: true }
                }).done(function (result) {
                    console.log(result.result.items);
                    d.resolve(result.result.items);

                }).fail(function (xhr) {
                    d.reject(xhr.responseJSON ? xhr.responseJSON.Message : xhr.statusText);
                });
                return d.promise();
            }
            else if (method === "DELETE") {
                console.log();
                $.ajax({
                    url: url,
                    type: "GET",
                    data: data,
                    cache: false,
                    xhrFields: { withCredentials: true }
                }).done(function (result) {
                    console.log(result.result.items);
                    d.resolve(result.result.items);

                }).fail(function (xhr) {
                    d.reject(xhr.responseJSON ? xhr.responseJSON.Message : xhr.statusText);
                });
                return d.promise();
            }
            
        }

        function logRequest(method, url, data) {
            var args = Object.keys(data || {}).map(function (key) {
                return key + "=" + data[key];
            }).join(" ");

            var time = DevExpress.localization.formatDate(new Date(), "HH:mm:ss");

            $scope.requests.unshift([time, method, url.slice(URL.length), args].join(" "));
        }

    });





</script>

<div class="dx-viewport demo-container" ng-app="DemoApp" ng-controller="DemoController">
    <div id="grid" dx-data-grid="gridOptions"></div>   
</div>

@*</html>*@


